<div class="
  h-4 w-4 my-1/2 rounded-full
  border-2 border-{{if this.isOn (concat this.color) "grey-darker"}}
  bg-{{if this.isOn (concat this.color "-lightest") (concat this.color "-darker")}}
"></div>
