<div class="flex justify-center">
  <div class="p-1 border border-brown-dark">
    <div class="
      px-2 text-center bg-scoreboard-black font-bold text-3xl leading-none
      {{if this.isBonus "text-scoreboard-yellow-backlit" "text-scoreboard-yellow-not-backlit"}}
    ">
      bonus
    </div>
  </div>
</div>
