<div class="text-3xl cursor-pointer text-center"
  onmousedown={{perform this.onPushTask this}}
  onmouseup={{perform this.onReleaseTask}}
  onmouseleave={{perform this.onReleaseTask}}
>
  {{yield}}
</div>
