<div class="w-1/4 p-4">
  <ScoreboardTeamName @name={{titleize this.team}} />

  <div class="mt-3">
    <LightbulbScore @score={{this.score}} />
  </div>

  <div class="mt-6">
    <ScoreboardBonus @isBonus={{this.isBonus}} />
  </div>
</div>
