<div class="bg-tan h-screen p-8">
  <ScoreboardMain @scoreboard={{this.model}} />

  <div class="mt-10 mx-4">
    <ScoreboardControls
      @scoreboard={{this.model}}
      @reset={{action send "reset"}}
    />
  </div>
</div>
